    body {
    background: url("https://i.ibb.co/HzpXkFr/image.png");
    margin: 0;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2vw;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0.2vw solid rgb(116, 255, 41);
    padding: 1vw;
    color: black;
    position: relative;
    box-shadow: 0.01vw 0.01vw 0.4vw  rgb(116, 255, 41);
}

#name {
    font-size: 3vw;
    animation: glow 1.8s ease forwards;
}

@keyframes glow {
    from {
        text-shadow: 0vw 0vw 0vw  rgb(116, 255, 41),
    0vw 0vw 0vw  rgb(116, 255, 41),
    0vw 0vw 0vw  rgb(116, 255, 41),
    0vw 0vw 0vw  rgb(116, 255, 41);
    }

    to {
        text-shadow: 0vw 0vw 0.3vw  rgb(116, 255, 41),
    0vw 0vw 0.3vw  rgb(116, 255, 41),
    0vw 0vw 0.3vw  rgb(116, 255, 41),
    0vw 0vw 0.3vw  rgb(116, 255, 41); 
    }
}

.titles {
    position: relative;
    margin-left: 3vw;
    font-size: 1.5vw;
    font-weight: 500;
    text-shadow: 0vw 0vw 0.15vw  rgb(116, 255, 41),
    0vw 0vw 0.15vw  rgb(116, 255, 41),
    0vw 0vw 0.15vw  rgb(116, 255, 41),
    0vw 0vw 0.15vw  rgb(116, 255, 41);
}

@keyframes slideinout {
    0% {
        transform: translateX(-50%);
        opacity: 1;
    }

    20%,30% {
        transform: translateX(0%);
        opacity: 1;
    }

    40% {
        transform: translateX(0%);
        opacity: 0;
    }

    41%, 100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

#software-caption {
    animation: slideinout 6s ease infinite;
    font-weight: bold;
}

#web-caption {
    margin-top: -2.7vw;
    opacity: 0;
    font-weight: bold;
    animation: slideinout 6s ease infinite;
    animation-delay: 2s;
} 

#python-caption {
    margin-top: -2.7vw;
    opacity: 0;
    font-weight: bold;
    animation: slideinout 6s ease infinite;
    animation-delay: 4s;
}

#photo {
    height: 15vw;
    border: 0.5vw solid black;
    box-shadow: 0.01vw 0.01vw 0.4vw rgb(116, 255, 41);
}

nav {
    color: rgb(116, 255, 41);
    font-size: 1.2vw;
    position: fixed;
    display: grid;
    right: 10vw;
    bottom: 4vw;
    opacity: 0.3;
    animation: slide 1.5s ease forwards;
}

@keyframes slide {
    from {
        right: -10vw;
    }

    to {
        right: 10vw;
    }
}

nav:hover {
    opacity: 1;
}

nav a {
    border: 0.1vw solid rgb(116, 255, 41);
    padding: 0.8vw;
    display: grid;
    justify-content: center;
    text-decoration: none;
    color: rgb(116, 255, 41);
    margin: 1vw 0;
    cursor: pointer;
    pointer-events: auto;
}

nav a:hover {
    background-color: rgb(116, 255, 41);
    color: black;
    border: 0.1vw solid black;
    box-shadow: 0.01vw 0.01vw 0.4vw rgb(116, 255, 41);
}

nav a:active {
    background-color: rgb(0, 0, 0);
} 

main {
    margin: 3vw 30vw 3vw 3vw;
}

section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin: 4vw 0;
    line-height: 2;
}

section article {
    box-shadow: 0vw 0vw 0.1vw rgb(116, 255, 41);
    padding: 2vw;
}

section article:hover {
    color: black;
    text-shadow: 0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41);
    transition: text-shadow 1s;
    box-shadow: 0vw 0vw 0.4vw rgb(116, 255, 41);
}

section article:hover .headings {
    color: black;
    text-shadow: 0.01vw 0.01vw 0.3vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.3vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.3vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.3vw  rgb(116, 255, 41);
}

section article span:hover {
    box-shadow: 0vw 0vw 0.4vw rgb(116, 255, 41);
    background-color: black;
    color: black;
    text-shadow: 0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41);
    transition: text-shadow 1s;
}

.headings {
    color:rgb(116, 255, 41);
    font-size: 2vw;
    font-weight: 700;
}

.sub-set {
    display: flex;
    justify-content: space-around;
}

.sub-set span {
    padding: 1vw;
    color: white;
    background-color: rgb(15, 15, 15);
    border-radius: 0.1vw;
}

#certifications img {
    height: 14vw;
    margin: 2vw;
}

#certifications img:hover {
    box-shadow: 0vw 0vw 0.4vw rgb(116, 255, 41);
    border: 0.2vw solid black;
    transition: box-shadow 0.2s;
}

#contact a {
    color: white;
    display: grid;
}

#contact a:hover {
    color: black;
    text-shadow: 0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41),
    0.01vw 0.01vw 0.1vw  rgb(116, 255, 41);
    transition: text-shadow 1s;
}

figure {
    text-align: center;
}

figure svg {
    color: white;
    height: 4vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
